.App {
  text-align: center;
}

button{
  cursor: pointer;
}

.pages:hover{
  transform: scale(1.110);
  /* color: #eaf5f7; */
}


.product:hover{
  /* background-color: rgb(255, 255, 255); */
  box-shadow: 2px 2px 2px rgb(255, 255, 255),
  2px 2px 8px 2px rgb(227, 221, 221);
  border-radius: 10px;
  animation: product 0.7s 1;
}

@keyframes product{
  0%{
    box-shadow: 0px 0px 0px rgb(255, 255, 255),
              0px 0px 0px 0px rgb(227, 221, 221);
  }
  100%{
    box-shadow: 2px 2px 2px rgb(255, 255, 255),
              2px 2px 8px 2px rgb(227, 221, 221);
  }
  }
.product>button:hover{
  transform: scale(1.110);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
